<div class="card-offer">
  <img src="https://images.unsplash.com/photo-1485965120184-e220f721d03e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" />
  <div class="card-offer-infos">
    <div>
      <h1>Title here</h2>
      <p>Short description here!</p>
      <p class="feature"><i class="fa-solid fa-lock"></i> Locker ✓</p>
      <p class="feature"><i class="fa-solid fa-bolt"></i> Electric ✕</p>
      <h2 class="card-offer-pricing">$89.99<span id="per-day">/day</span></h2>
    </div>
    <h2 id="offer-rating">4.6 <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star-half-stroke"></i></h2>
    <p id="category"><i class="fa-solid fa-bicycle"></i> Bicycle</p>
  </div>
</div>
