<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1472709171579-139831cdf19e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);">
  <div class="container text-center">
    <h1>Rent your best ride!<strong></h1>
    <p>It`s never been easier to rent a bike, a skate or a scooter!</p>
    <a class="btn btn-flat" href=  >Book now</a>
  </div>
</div>
