<main class="container">
  <div class="row mt-3">
    <% @offers.each do |offer| %>
      <div class="col-sm col-md-4 my-3">
        <%= link_to offer_path(offer), class: "text-decoration-none" do %>
          <%= render 'shared/card', offer: offer %>
        <% end %>
      </div>
    <% end %>
  </div>
</main>
