.banner {
  // https://images.unsplash.com/photo-1472709171579-139831cdf19e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
                    url(https://images.unsplash.com/photo-1545614374-740a1a109a4a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat, repeat;
  padding: 150px 0;

  h1 {
    color: aliceblue;
    font-size: 50px;
    text-shadow: 10px;
  }

  body {
    color: aliceblue;
    font-size: 25px;
  }

  p {
    color: aliceblue;
  }

  .container {
    max-width: 600px;
  }
}
