.navbar-lewagon {
  justify-content: space-between;
  background: #5cb25b;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo-title {
  display: flex;
  align-items: end;
  color: white;
}

ul {
  .nav-link {
    color: white;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: white;
      opacity: 1;
    }
  }
}
