.offer-image {
  img {
    height: 100%;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 10px;
    object-fit: cover;
  }
}

.offer-info {
  max-width: 800px;
  margin: 0 auto;

  .category-icon {
    font-size: 30px;
  }

  .rating {
    font-size: 20px;
  }
}

#bookings {
  .container {
    max-width: 800px;
  }
}

#reviews {
  border: 1px solid #dcdcdc;
}
